{% extends 'base.html' %}


{%  block content  %}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>

.about-section {
  padding: 200px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}


</style>

<body>

    <div class="about-section">
      <h1  style="text-size-adjust:60px ;"> Welcome</h1>
      <p>Food Deliver's mission is better food for more people. Started in 2010, Food Deliver offers services like restaurant search & discovery, reviews, home delivery of food the Banglore.</p>
      
    </div>
</body>
</html>


{%  endblock  %}

