

{% extends 'base.html' %}

{% load crispy_forms_tags %}
{%  block content  %}




<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
   <!-- <title> Responsive Contact Us Form  | CodingLab </title>-->
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">


     <style>

      body{
          background-color:#7557b863;
      
      }
      .box{
        padding: 50px;
        margin: 10px;
        width: 500px ; height: 600px; 
        border: 2px solid;
      }
      
      
      </style>
      
      



   </head>
<body>

  <div class="container">
    <div class="content">
      <div class="left-side">
        <div class="address details">
          <a href="https://admin.google.com/u/0/ServiceNotAllowed?service=local&hl=en"><i class="fas fa-map-marker-alt"></i></a>
          <div class="topic">Address</div>
          <div class="text-one">Indira Nagar </div>
          <div class="text-two">Banglore</div>
        </div>
        <br>
        <div class="phone details">
          <i class="fas fa-phone-alt"></i>
          <div class="topic">Phone</div>
          <div class="text-one">+9198 7654 3210</div>
          <div class="text-two">+9191 2345 6780</div>
        </div>
        <br>
        <div class="email details">
          <i class="fas fa-envelope"></i>
          <div class="topic">Email</div>
          <div class="text-one">fooddeliver@gmail.com</div>
          <div class="text-two">info.fooddeliver@gmail.com</div>
        </div>
      </div>
     


    </div>
  </div>
<br>
<center>
  <h2 align="center">For any enquiers pls contact us or fill the below form </h2>
  <div class="box" >
    {% include 'messages.html' %}
  <form method="POST">
{% csrf_token %}

{{ contact_form|crispy }}
   <button class="btn btn-success" type="submit">Send Message</button>
  </form>
</center>
</div>
</body>
</html>



{%  endblock  %}