{% extends 'base.html' %}

{% load crispy_forms_tags %}
{%  block content  %}
{% include 'messages.html' %}
<style>

    body{
    
            background-color: rgb(210, 229, 247);
        }
      </style>
    


<body >
    
  <h2 align ='center'>Register for New Account</h2>
    <div class="container" style="margin-top:20px;">
        
        <div class="row">
            <div class="col-md-4"></div>

            <div class="col-md-4">
                <form method="POST" action=" ">
                    {% csrf_token %}
                    {{user_reg_form|crispy}}
                        <button class="btn btn-success" type="submit">Register</button>
                    </form>
                    already have an account? <a href="{%  url 'loginto' %}"><strong>Login Here</strong></a>
            </div>

            <div class="col-md-4"></div>
        </div>
    </div>
</body>
{%  endblock  %}